@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F0EEE7;
  --foreground: #1F321A;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0C1708;
    --foreground: #F0EEE7;
  }
}

@layer base {
  .dark {
    --background: #0C1708;
    --foreground: #F0EEE7;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Inter', sans-serif;
}

@keyframes slide-up {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slide-up {
  animation: slide-up 0.3s ease-out;
}
